h1 {
  color: crimson;
  font-size: 7rem;
  margin: 1.25rem 0 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 1rem;
}

.dev-container {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: rgba(0,0,0,0.6);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: -100;

    background-image: url("/assets/placeholders/Fond-test.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  color: white;

  .dev-title {
    height: 40vh;
  }
}
