<p>Alpha 1.1.4</p>
<h1 style="display: none;">BLOOD BONE FIRE</h1>
<div class="dev-container unselectable">

  <img class="dev-title" src="assets/title_screen_logo.png" alt="titre">
  <h2>{{ 'SUBTITLE' | translate }}</h2>
  <div class="menu">
    <button class="menu-button" (click)="versusGame()" [routerLink]="'character-select'">{{ 'playButtonVSPLAYER' | translate }}</button>
    <button class="menu-button" (click)="soloGame()" [routerLink]="'character-select'">{{ 'playButtonVSIA' | translate }}</button>
    <button class="menu-button" [routerLink]="'character-list'">{{ 'charactersButton'|translate }}</button>
  </div>
  <p>Démo pratique</p>
  <p>dev-tests works!</p>
</div>
<!--<app-combat-main></app-combat-main>-->
<!--<app-lang-selector></app-lang-selector>-->
