.combat-container {
  display: grid;
  height: 100vh;
  padding: 1rem;
  grid-template-rows: 80% 20%;

  .combat-character-container {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20vh;

    .combat-character {
      width: 20vw;

      display: flex;
      //justify-content: center;
      align-items: flex-end;

      gap: 1vw;

      .character-sprite {
        img {
          width: 100%;
        }
        width: 7.5vw;
      }

      .character-stat-card {
        border: 4px double black;
        padding: 0.5rem;

        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);

        .character-name {
          text-transform: capitalize;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
        }

        .character-main-stats {


          .hp-mp-container {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .hp-bar-container, .mp-bar-container {
              position: relative;

              width: 100%;
              height: 1.5rem;
              background-color: #222;
              border: 2px solid black;
              border-radius: 0.25rem;
              overflow: hidden;

              text-align: center;

              .hp-label, .mp-label {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                font-size: 0.9rem;
                color: white;
                text-shadow: 1px 1px 2px black;
              }

              .hp-bar {
                position: absolute;
                top: 0;
                z-index: 1;
                height: 100%;
                background-color: green;
              }

              .mp-bar {
                position: absolute;
                top: 0;
                z-index: 1;
                height: 100%;
                background-color: darkblue;
              }
            }
          }

          .character-stats {
            list-style: none;
            padding: 0;
            text-align: center;

            li {
              padding-top: 0.25rem;
            }
          }
        }
      }


    }

    .player-1 {
      flex-flow: row-reverse;
    }

  }

  .combat-menu {

    display: grid;
    grid-template: 80% 20% / 20% 80%;
    grid-template-areas:
  'attackButtons combatLogs'
  'exitButton combatLogs';

    .combat-menu-attack {
      display: grid;
      grid-template: 1fr 1fr/ 1fr 1fr;
    }

    .combat-logs {
      color: black;
      padding: 0.5rem;
      border: 1px solid black;

      .log-title {
        font-size: 1.25rem;
        text-align: center;
        border-bottom: 1px black dashed;
        margin-bottom: 0.5rem;
      }

      .log-text {
        overflow-y: scroll;
        height: 80%;
      }
    }
  }
}


.activePlayer {
  &:before {
    content: "";
    display: block;
    height: 1.5vw;

    margin: 0.5rem auto;

    aspect-ratio: 29/16;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.player-1 {
  .activePlayer:before{
    background-image: url("/assets/placeholders/active_player_1.webp");
  }
}

.player-2 {
  .activePlayer:before{
        background-image: url("/assets/placeholders/active_player_2.webp");
  }
}

h1 {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
}

.combat-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -100;
}

//For grid purpose
.combat-menu-attack {
  grid-area: attackButtons;
}

.combat-exit-button {
  grid-area: exitButton;
}

.combat-logs {
  grid-area: combatLogs;
}
