@use "../../../../styles.scss" as *;

.character-list-container {
  display: grid;
  grid-template-rows: auto 1fr;

  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin: 2rem;
  padding: 1rem;
  border: double 4px $dark-red;

  text-align: center;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li{
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 7.5rem;
      aspect-ratio: 1/1;
      border: 2px solid black;

      padding: 0.5rem;

      background-color: rgba(black, 0.6);

      text-align: center;
      color: white;

      transition: 0.3s;

      &:hover{
        background-color: rgba($red-highlight, 0.6);
      }

      img{
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

      }
    }
  }

  .selected-character-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 90vw;
    //height: 90vh;
    padding: 2rem;

    color: white;

    .closing-selected{
      position: absolute;
      top: 0.5rem;
      right: 0.65rem;

      //font-weight: bolder;
      font-size: 1.5rem;
    }


    border: 4px double $red;
    background-color: rgba($dark-red, 0.9);
  }

  .character-list-menu{
    button{
      width: 10vw;
      //font-size: 1rem;
    }
  }
}
