@use "../../../../styles.scss" as *;

.character-list-container {
  display: grid;
  grid-template-rows: auto 1fr;

  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin: 2rem;
  padding: 1rem;
  border: double 4px $dark-red;

  text-align: center;
  color: white;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("/assets/placeholders/Menu_background_test.png") center no-repeat;
  background-size: cover;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
      position: relative;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 7.5rem;
      aspect-ratio: 1/1;
      border: 2px solid black;

      padding: 0.5rem;

      text-align: center;
      color: white;

      transition: 0.3s;

      cursor: pointer;

      &:hover {
        &:before {
          background-color: rgba($red-highlight, 0.6);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.6);
        z-index: -1;
      }

      img {
        position: absolute;
        z-index: -2;

        width: 100%;
        height: 100%;

      }
    }
  }

  .selected-character-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    color: white;
    background-color: rgba(black, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;


    .selected-character-card {
      position: relative;
      border: 4px double $red;
      width: 90vw;
      padding: 2rem;
      background-color: rgba($red-highlight, 0.6);
      .closing-selected {
        position: absolute;
        top: 0.5rem;
        right: 0.65rem;

        //font-weight: bolder;
        font-size: 1.5rem;

        cursor: pointer;
      }
    }
  }

  .character-list-menu {
    button {
      width: 10vw;
      //font-size: 1rem;
    }
  }
}


