<div class="character-list-container">
  <h1>Character List</h1>
  <ul>
    @for (character of characters; track character.id) {
      <li (click)="selectCharacter(character.id)">
        {{ character.name }}
        <img src="assets/placeholders/place-holder-avatar.webp" alt="avatar générique">
      </li>
    }
  </ul>
  @if (selectedCharacter) {
    <div class="selected-character-container">
      <div class="closing-selected" (click)="clearSelectedCharacter()">X</div>
      <app-character-card [character]="selectedCharacter"/>
    </div>
  }
  <div class="character-list-menu">
    <button class="menu-button" [routerLink]="'/'">retour</button>
  </div>
</div>
