/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

h1 {
  font-family: 'Jersey 10', cursive;
}

button {
  aspect-ratio: 4/1;
  background-color: transparent;
  position: relative;
  padding: 0;

  color: white;

  border: double coral 4px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/placeholders/background-placeholder.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover {
    transition: 0.25s;
    filter: invert(100);
  }
}
