/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');
*{
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-family: 'Jersey 10', cursive;
}
