<button [routerLink]="'/'">BACK HOME</button>
  <div class="header">
    <h1>Sélection des personnages</h1>
    <p class="selection-message">{{getSelectionMessage()}}</p>
  </div>
<div class="character-list">
  <h2>Liste des héros</h2>
  <ul>
    <li *ngFor="let c of characters" (click)="selectCharacter(c.id)" [class.selected]="isSelected(c.id)"
        [class.player1]="isChosenByPlayer1(c.id)" [class.player2]="isChosenByPlayer2(c.id)">
      {{ c.name }}
    </li>
  </ul>
</div>
<button [disabled]="!canConfirm()" (click)="confirmSelection()">CONFIRM</button>
