<div class="character-select-container">

  <div class="selection-header">
    <h1>Sélection des personnages</h1>
    <p class="selection-message">{{ getSelectionMessage() }}</p>
  </div>

  <div class="select-list-container">
    <ul>
      @for (c of characters; track c.id) {
        <li (click)="selectCharacter(c.id)" [class.selected]="isSelected(c.id)"
            [class.player1]="isChosenByPlayer1(c.id)" [class.player2]="isChosenByPlayer2(c.id)">
          <div>{{ c.name }}</div>
          <img src="assets/placeholders/place-holder-avatar.webp" alt="avatar générique">
        </li>
      }
    </ul>
    <p style="margin-top: 5rem;">MORE CHARACTERS TO COME, STAY TUNED</p>
  </div>

  <div class="selection-menu">
    <button class="menu-button" [routerLink]="'/'">BACK HOME</button>
    <button class="menu-button" [disabled]="!canConfirm()" (click)="confirmSelection()">CONFIRM</button>
  </div>

</div>

<img class="menu-background" src="assets/placeholders/Fond-test.png" alt="">
