@use "../../../../styles.scss" as *;

.character-card {
  text-align: left;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;

  .card-header {
    display: grid;
    grid-template-columns: auto 1fr;

    gap: 1rem;

    text-shadow: 1px 1px 2px black;

    .card-picture {
      width: 10vw;
      aspect-ratio: 1/1;
      border: 4px solid black;
    }
  }

  .card-stats {
    border-radius: 4px;
    border: 2px solid black;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    height: fit-content;

    h3 {
      text-align: left;
      grid-column: span 2;
      border-bottom: solid 1px black;
      margin-bottom: 0.5rem;

      text-shadow: 1px 1px 2px black;
    }
  }

  .card-skills {
    border-radius: 4px;
    border: 2px solid black;
    padding: 1rem;
    grid-column: span 2;

    h3 {
      text-align: left;
      border-bottom: solid 1px black;
      margin-bottom: 0.5rem;

      text-shadow: 1px 1px 2px black;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;

      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      gap: 1rem;

      li {
        width: 10vw;
        aspect-ratio: 4/1;
        border: 4px double $red;
        border-radius: 0.25rem;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        padding: 0.25rem;

        background-color: $dark-red;
        cursor: pointer;

        &:hover {
          border: 4px double $red-highlight;
          background-color: $red;
        }

      }
    }
  }

  .card-skill-details {
    border-radius: 4px;
    border: 2px solid black;
    padding: 1rem;

    grid-column: span 2;

    display: grid;
    grid-template-columns: auto auto auto;

    gap: 1rem;

    h4 {
      text-align: center;
      font-size: 1.25rem;

      text-shadow: 1px 1px 2px black;
      grid-column: span 3;
      border-bottom: solid 1px black;
      margin-bottom: 0.5rem;
    }

    .skill-effects, .skill-description {
      grid-column: span 3;

      h5 {
        text-decoration: underline;
      }
    }

    .skill-effects {
      .skill-effect-container {
        list-style: none;
        padding: 0;

        display: flex;
        gap: 3rem;
        flex-wrap: wrap;

        .effect-name {
          text-shadow: 1px 1px 2px black;
        }

        .effect-description {
          margin-top: 0.5rem;

          h6 {
            //font-size: 0.75rem;
            //text-decoration: underline;
            text-shadow: 1px 1px 2px black;
          }
        }
      }
    }
  }

}
