<button [routerLink]="'/'">BACK HOME</button>
<h1>TOUR {{currentTurn}}</h1>
<div class="devCont">
  <div class="car">
    <div class="devCar">
      <div class="devSquare red" #player>{{ character1.name }}</div>
      <div class="devHp">HP:{{ character1.stats.hp }}</div>
      <div>MP: {{character1.stats.mp}}</div>
    </div>
    <div class="devCar">
      <div class="devSquare blue" #player>{{ character2.name }}</div>
      <div class="devHp">HP:{{ character2.stats.hp }}</div>
      <div>MP: {{character2.stats.mp}}</div>
    </div>
  </div>
  <div class="atak">

    <ul>
      <li *ngFor="let skill of displayedSkills">
        <button (click)="useSkill(skill)">
            <div>{{ skill.name }}</div>
            <div>{{ skill.description }}</div>
            <div>COUT :{{ skill.mpCost}}</div>
        </button>

      </li>
    </ul>
  </div>
  <div>
    @for (log of combatLog; track log.message) {
      <p>{{log.message}}</p>
    }
  </div>
</div>
