/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

// Colors based on the Windows 95 - 256 colours palette you can find in the read me associated with this project
$dark-red: #800000;
$red-highlight: #d40000;
$red: #ff0000;

$dark-blue:  #000080;
$blue-highlight: #2a00ff;
$blue: #0000ff;

* {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

h1 {
  font-family: 'Jersey 10', cursive;
}

.menu-button {
  aspect-ratio: 4/1;
  background-color: transparent;
  z-index: 1;

  position: relative;
  padding: 0;

  color: white;

  border: double $dark-red 4px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/assets/placeholders/UntitledArtwork1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &:hover {
    transition: 0.25s;
    background-color: rgba($red, 0.2);
    &:before {
      content: "> ";
    }
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ / Edge */
  user-select: none;         /* Standard */
}

img {
  pointer-events: none;
  image-rendering: pixelated;
}

button{
  text-transform: uppercase;
}
